<!-- app/views/pages/index.html.erb -->

<h1>Welcome to Iterable Integration App!</h1>

<%= link_to 'Create Event A', create_event_a_path, class: 'btn btn-primary' %>
<%= link_to 'Create Event B', create_event_b_path, class: 'btn btn-primary' %>
